In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
#from datetime import datetime
import matplotlib.pyplot as plt
sns.set(style="darkgrid")
plt.style.use('seaborn-notebook')
from scipy import stats
import math
import os
from dateutil.parser import parse
from datetime import datetime, date, time
import calendar
from datetime import timedelta

In [2]:
#Data loading
dataset2 = pd.read_excel(open('Online Retail.xlsx','rb'), sheet_name='Online Retail')

In [3]:
#Downsampling if needed
dataset = dataset2#[:5000]
dataset.shape

(541909, 8)

In [4]:
#Create a sub-sample
dataset.to_csv('ordersample.csv')

In [5]:
#We sort the dataset and check the time range
dataset = dataset.sort_values('InvoiceDate')
print('First order', dataset['InvoiceDate'].min())
print('Last order', dataset['InvoiceDate'].max())

First order 2010-12-01 08:26:00
Last order 2011-12-09 12:50:00

In [6]:
#Day 1 definition
today = datetime(2012,1,1,0,0)

In [7]:
#We mark the cancelled invoices
dataset['Cancelled'] = dataset['InvoiceNo'].apply(lambda x: 1 if str(x).startswith('C') else 0)
dataset[dataset['Cancelled'] == 1].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,1
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,1
241,C536391,22553,PLASTERS IN TIN SKULLS,-24,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,1
239,C536391,21484,CHICK GREY HOT WATER BOTTLE,-12,2010-12-01 10:24:00,3.45,17548.0,United Kingdom,1
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,1

In [8]:
#We keep only the info from UK
dataset = dataset[dataset['Country'] == 'United Kingdom']
dataset.shape

(495478, 9)

In [9]:
#We drop the duplicates
dataset = dataset.drop_duplicates()
dataset.shape

(490300, 9)

In [10]:
#We drop the fields with no customer ID
dataset = dataset.dropna(axis = 0, how = 'any', subset = ['CustomerID'])
dataset.shape

(356728, 9)

In [11]:
#Any odd values ?
dataset.describe()

            Quantity      UnitPrice     CustomerID      Cancelled
count  356728.000000  356728.000000  356728.000000  356728.000000
mean       11.198644       3.268255   15543.795284       0.021027
std       264.998044      71.162330    1594.286219       0.143475
min    -80995.000000       0.000000   12346.000000       0.000000
25%         2.000000       1.250000   14191.000000       0.000000
50%         4.000000       1.950000   15513.000000       0.000000
75%        12.000000       3.750000   16931.000000       0.000000
max     80995.000000   38970.000000   18287.000000       1.000000

In [12]:
#We clean all the weird Stockcodes

#drop all the that are extra fees
extrafeereasons = ['POST', 'DOT', 'C2', 'CRUK', 'M', 'BANK CHARGES', 'PADS', 'D']
for todrop in extrafeereasons:
    dataset = dataset[dataset['StockCode'] != todrop]
dataset.shape

(356110, 9)

In [13]:
dataset = dataset[dataset['UnitPrice'] != 0.00]
dataset.shape

(356090, 9)

In [14]:
#We clean the quantity < 0 and invoice not cancelled
#dataset = 
dataset[(dataset['Quantity'] < 0) & (dataset['Cancelled'] == 0)]
#dataset.shape

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Cancelled]
Index: []

In [15]:
#No free stuff in the dataset, must cost at least 1 penny
dataset = dataset[dataset['UnitPrice'] >= 0.01]
dataset.shape

(356090, 9)

In [16]:
#Any np.nan remaining ?
dataset.isnull().sum(axis=0)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Cancelled      0
dtype: int64

In [17]:
#Totat per item
dataset['TotalItem'] = dataset['UnitPrice'] * dataset['Quantity']
dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled,TotalItem
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34

In [18]:
#initial price calculation
initpricedict = dataset[['UnitPrice', 'StockCode']].groupby('StockCode')['UnitPrice'].first().to_dict()
dataset['Initprice'] = dataset['StockCode'].apply(lambda x : initpricedict[x])
dataset['ItemDiscount'] = dataset['Initprice'] / dataset['UnitPrice']
dataset['TotalItemInit'] = dataset['Initprice'] * dataset['Quantity']
dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled,TotalItem,Initprice,ItemDiscount,TotalItemInit
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,15.30,2.55,1.0,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,22.00,2.75,1.0,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34

In [19]:
#Savings calculation
dataset['Savings'] = dataset['TotalItem'] - dataset['TotalItemInit']
dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled,TotalItem,Initprice,ItemDiscount,TotalItemInit,Savings
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,15.30,2.55,1.0,15.30,0.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,22.00,2.75,1.0,22.00,0.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0

In [20]:
dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled,TotalItem,Initprice,ItemDiscount,TotalItemInit,Savings
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,15.30,2.55,1.0,15.30,0.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,22.00,2.75,1.0,22.00,0.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0

In [21]:
#We split the unit prices by quantile
classes = 5

#### CALULATION BEGINNING ####
divider = 100/classes

price = dataset[['StockCode', 'UnitPrice']].groupby('StockCode').first()

price['QuantUnitPrice'] = price['UnitPrice'].apply(lambda x: math.ceil(stats.percentileofscore(price['UnitPrice'],x, kind = 'mean')/divider))
price[['UnitPrice', 'QuantUnitPrice']].head()


pricedictquant = price['QuantUnitPrice'].to_dict()

dataset['QuantUnitPrice'] = dataset['StockCode'].apply(lambda x: pricedictquant.get(x, 0))

dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled,TotalItem,Initprice,ItemDiscount,TotalItemInit,Savings,QuantUnitPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,15.30,2.55,1.0,15.30,0.0,3
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0,4
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,22.00,2.75,1.0,22.00,0.0,4
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0,4
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0,4

In [22]:
#quant unit price vectorization - dollars

temp = dataset.pivot(columns='QuantUnitPrice', values='TotalItem').fillna(0)
new_names = [(i, 'QuantUnitPrice_{:02d}'.format(i)) for i in temp.columns.values]
temp.rename(columns = dict(new_names), inplace=True)
temp.head()
dataset = dataset.merge(temp, how='inner', left_index=True, right_index=True)
dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled,TotalItem,Initprice,ItemDiscount,TotalItemInit,Savings,QuantUnitPrice,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,QuantUnitPrice_05
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,15.30,2.55,1.0,15.30,0.0,3,0.0,0.0,15.3,0.00,0.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0,4,0.0,0.0,0.0,20.34,0.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,22.00,2.75,1.0,22.00,0.0,4,0.0,0.0,0.0,22.00,0.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0,4,0.0,0.0,0.0,20.34,0.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,3.39,1.0,20.34,0.0,4,0.0,0.0,0.0,20.34,0.0

In [23]:
#quant unit price savings vectorization - savings

temp = dataset.pivot(columns='QuantUnitPrice', values='Savings').fillna(0)
new_names = [(i, 'QuantUnitSavings_{:02d}'.format(i)) for i in temp.columns.values]
temp.rename(columns = dict(new_names), inplace=True)
temp.head()
dataset = dataset.merge(temp, how='inner', left_index=True, right_index=True)
dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled,TotalItem,...,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,QuantUnitPrice_05,QuantUnitSavings_01,QuantUnitSavings_02,QuantUnitSavings_03,QuantUnitSavings_04,QuantUnitSavings_05
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,15.30,...,0.0,0.0,15.3,0.00,0.0,0.0,0.0,0.0,0.0,0.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,...,0.0,0.0,0.0,20.34,0.0,0.0,0.0,0.0,0.0,0.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,22.00,...,0.0,0.0,0.0,22.00,0.0,0.0,0.0,0.0,0.0,0.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,...,0.0,0.0,0.0,20.34,0.0,0.0,0.0,0.0,0.0,0.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,...,0.0,0.0,0.0,20.34,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
#Amount cancelled
dataset['AmountCancelled'] = dataset['Cancelled'] * dataset['TotalItem']

dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled,TotalItem,...,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,QuantUnitPrice_05,QuantUnitSavings_01,QuantUnitSavings_02,QuantUnitSavings_03,QuantUnitSavings_04,QuantUnitSavings_05,AmountCancelled
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,15.30,...,0.0,15.3,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,...,0.0,0.0,20.34,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,22.00,...,0.0,0.0,22.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,...,0.0,0.0,20.34,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,20.34,...,0.0,0.0,20.34,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
dataset.columns.values

array(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Cancelled', 'TotalItem',
       'Initprice', 'ItemDiscount', 'TotalItemInit', 'Savings',
       'QuantUnitPrice', 'QuantUnitPrice_01', 'QuantUnitPrice_02',
       'QuantUnitPrice_03', 'QuantUnitPrice_04', 'QuantUnitPrice_05',
       'QuantUnitSavings_01', 'QuantUnitSavings_02', 'QuantUnitSavings_03',
       'QuantUnitSavings_04', 'QuantUnitSavings_05', 'AmountCancelled'], dtype=object)

In [42]:
#Invoicedb calculation

def my_agg(x):
    aggcalcul = {
        'InvoiceDate': x['InvoiceDate'].min(),
        'TotalInvoice': x['TotalItem'].sum(),
        'TotalInvoiceInit': x['TotalItemInit'].sum(),
        'CustomerID':  x['CustomerID'].min(),
        'TotalSavings': x['Savings'].sum(),
        'AmountCancelled' : x['AmountCancelled'].sum(),
        }
    return pd.Series(aggcalcul, index=aggcalcul.keys())
invoicedb = dataset.groupby('InvoiceNo').apply(my_agg).fillna(0)

invoicedb.head()

,InvoiceDate,TotalInvoice,TotalInvoiceInit,CustomerID,TotalSavings,AmountCancelled
InvoiceNo,,,,,,
536365,2010-12-01 08:26:00,139.12,139.12,17850.0,0.0,0.0
536366,2010-12-01 08:28:00,22.20,22.20,17850.0,0.0,0.0
536367,2010-12-01 08:34:00,278.73,278.73,13047.0,0.0,0.0
536368,2010-12-01 08:34:00,70.05,70.05,13047.0,0.0,0.0
536369,2010-12-01 08:35:00,17.85,17.85,13047.0,0.0,0.0

In [43]:
#detail orders for invoicedb - QUANT UNIT PRICE
detail = [x for x in dataset.columns.values if x.startswith('QuantUnitPrice_')]
detail.append('InvoiceNo')
temp = dataset[detail].groupby('InvoiceNo').sum()
temp.head()
invoicedb = invoicedb.merge(temp, how='inner', left_index=True, right_index=True)
invoicedb.head()

,InvoiceDate,TotalInvoice,TotalInvoiceInit,CustomerID,TotalSavings,AmountCancelled,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,QuantUnitPrice_05
InvoiceNo,,,,,,,,,,,
536365,2010-12-01 08:26:00,139.12,139.12,17850.0,0.0,0.0,0.0,0.0,15.30,108.52,15.30
536366,2010-12-01 08:28:00,22.20,22.20,17850.0,0.0,0.0,0.0,0.0,22.20,0.00,0.00
536367,2010-12-01 08:34:00,278.73,278.73,13047.0,0.0,0.0,0.0,0.0,89.18,55.50,134.05
536368,2010-12-01 08:34:00,70.05,70.05,13047.0,0.0,0.0,0.0,0.0,0.00,25.50,44.55
536369,2010-12-01 08:35:00,17.85,17.85,13047.0,0.0,0.0,0.0,0.0,0.00,0.00,17.85

In [44]:
#detail orders for invoicedb - QUANT UNIT SAVINGS
detail = [x for x in dataset.columns.values if x.startswith('QuantUnitSavings_')]
detail.append('InvoiceNo')
temp = dataset[detail].groupby('InvoiceNo').sum()
temp.head()
invoicedb = invoicedb.merge(temp, how='inner', left_index=True, right_index=True)
invoicedb.head()

,InvoiceDate,TotalInvoice,TotalInvoiceInit,CustomerID,TotalSavings,AmountCancelled,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,QuantUnitPrice_05,QuantUnitSavings_01,QuantUnitSavings_02,QuantUnitSavings_03,QuantUnitSavings_04,QuantUnitSavings_05
InvoiceNo,,,,,,,,,,,,,,,,
536365,2010-12-01 08:26:00,139.12,139.12,17850.0,0.0,0.0,0.0,0.0,15.30,108.52,15.30,0.0,0.0,0.0,0.0,0.0
536366,2010-12-01 08:28:00,22.20,22.20,17850.0,0.0,0.0,0.0,0.0,22.20,0.00,0.00,0.0,0.0,0.0,0.0,0.0
536367,2010-12-01 08:34:00,278.73,278.73,13047.0,0.0,0.0,0.0,0.0,89.18,55.50,134.05,0.0,0.0,0.0,0.0,0.0
536368,2010-12-01 08:34:00,70.05,70.05,13047.0,0.0,0.0,0.0,0.0,0.00,25.50,44.55,0.0,0.0,0.0,0.0,0.0
536369,2010-12-01 08:35:00,17.85,17.85,13047.0,0.0,0.0,0.0,0.0,0.00,0.00,17.85,0.0,0.0,0.0,0.0,0.0

In [45]:
#Invoicedb updates

#Day between orders calculation
invoicedb = invoicedb.sort_values('InvoiceDate')
invoicedb['Ordersep'] = invoicedb[['CustomerID', 'InvoiceDate']].groupby(['CustomerID']).InvoiceDate.apply(lambda x: x.diff()).fillna(0)
invoicedb['Ordersep'] = invoicedb['Ordersep'].apply(lambda x: x.days)
invoicedb.head()

,InvoiceDate,TotalInvoice,TotalInvoiceInit,CustomerID,TotalSavings,AmountCancelled,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,QuantUnitPrice_05,QuantUnitSavings_01,QuantUnitSavings_02,QuantUnitSavings_03,QuantUnitSavings_04,QuantUnitSavings_05,Ordersep
InvoiceNo,,,,,,,,,,,,,,,,,
536365,2010-12-01 08:26:00,139.12,139.12,17850.0,0.0,0.0,0.0,0.0,15.30,108.52,15.30,0.0,0.0,0.0,0.0,0.0,0
536366,2010-12-01 08:28:00,22.20,22.20,17850.0,0.0,0.0,0.0,0.0,22.20,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0
536367,2010-12-01 08:34:00,278.73,278.73,13047.0,0.0,0.0,0.0,0.0,89.18,55.50,134.05,0.0,0.0,0.0,0.0,0.0,0
536368,2010-12-01 08:34:00,70.05,70.05,13047.0,0.0,0.0,0.0,0.0,0.00,25.50,44.55,0.0,0.0,0.0,0.0,0.0,0
536369,2010-12-01 08:35:00,17.85,17.85,13047.0,0.0,0.0,0.0,0.0,0.00,0.00,17.85,0.0,0.0,0.0,0.0,0.0,0

In [46]:
#InvoiceDB discount
invoicedb['Discount'] = invoicedb['TotalInvoice'] / invoicedb['TotalInvoiceInit']
invoicedb.head()

,InvoiceDate,TotalInvoice,TotalInvoiceInit,CustomerID,TotalSavings,AmountCancelled,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,QuantUnitPrice_05,QuantUnitSavings_01,QuantUnitSavings_02,QuantUnitSavings_03,QuantUnitSavings_04,QuantUnitSavings_05,Ordersep,Discount
InvoiceNo,,,,,,,,,,,,,,,,,,
536365,2010-12-01 08:26:00,139.12,139.12,17850.0,0.0,0.0,0.0,0.0,15.30,108.52,15.30,0.0,0.0,0.0,0.0,0.0,0,1.0
536366,2010-12-01 08:28:00,22.20,22.20,17850.0,0.0,0.0,0.0,0.0,22.20,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,1.0
536367,2010-12-01 08:34:00,278.73,278.73,13047.0,0.0,0.0,0.0,0.0,89.18,55.50,134.05,0.0,0.0,0.0,0.0,0.0,0,1.0
536368,2010-12-01 08:34:00,70.05,70.05,13047.0,0.0,0.0,0.0,0.0,0.00,25.50,44.55,0.0,0.0,0.0,0.0,0.0,0,1.0
536369,2010-12-01 08:35:00,17.85,17.85,13047.0,0.0,0.0,0.0,0.0,0.00,0.00,17.85,0.0,0.0,0.0,0.0,0.0,0,1.0

In [47]:
#When the order has been placed during the day in pounds?

def daysplit(x):
    hour = x.hour
    if 6 < hour < 12:
        return 1
    elif 12 <= hour < 20:
        return 2
    else:
        return 3

invoicedb['Daytime'] = invoicedb['InvoiceDate'].apply(daysplit)
    
temp = invoicedb.pivot(columns='Daytime', values='TotalInvoice').fillna(0)
new_names = [(i, 'Daytime_Monetary_'+str(i)) for i in temp.columns.values]
temp.rename(columns = dict(new_names), inplace=True)
#temp = pd.get_dummies(invoicedb['InvoiceDate'].map(daysplit), prefix = 'Daytime')
invoicedb = invoicedb.merge(temp, how='inner', left_index=True, right_index=True)
invoicedb.head()

,InvoiceDate,TotalInvoice,TotalInvoiceInit,CustomerID,TotalSavings,AmountCancelled,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,...,QuantUnitSavings_02,QuantUnitSavings_03,QuantUnitSavings_04,QuantUnitSavings_05,Ordersep,Discount,Daytime,Daytime_Monetary_1,Daytime_Monetary_2,Daytime_Monetary_3
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,2010-12-01 08:26:00,139.12,139.12,17850.0,0.0,0.0,0.0,0.0,15.30,108.52,...,0.0,0.0,0.0,0.0,0,1.0,1,139.12,0.0,0.0
536366,2010-12-01 08:28:00,22.20,22.20,17850.0,0.0,0.0,0.0,0.0,22.20,0.00,...,0.0,0.0,0.0,0.0,0,1.0,1,22.20,0.0,0.0
536367,2010-12-01 08:34:00,278.73,278.73,13047.0,0.0,0.0,0.0,0.0,89.18,55.50,...,0.0,0.0,0.0,0.0,0,1.0,1,278.73,0.0,0.0
536368,2010-12-01 08:34:00,70.05,70.05,13047.0,0.0,0.0,0.0,0.0,0.00,25.50,...,0.0,0.0,0.0,0.0,0,1.0,1,70.05,0.0,0.0
536369,2010-12-01 08:35:00,17.85,17.85,13047.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0,1.0,1,17.85,0.0,0.0

In [48]:
#When the order has been placed during the week in pounds?
def daysplit(x):
    day = x.weekday()
    return 'Weekday_{}_{}'.format(day, list(calendar.day_name)[day])
    #return day

invoicedb['Weekday'] = invoicedb['InvoiceDate'].map(daysplit)
temp = invoicedb.pivot(columns='Weekday', values='TotalInvoice').fillna(0)
#temp.head()
invoicedb = invoicedb.merge(temp, how='inner', left_index=True, right_index=True)
invoicedb.head()

,InvoiceDate,TotalInvoice,TotalInvoiceInit,CustomerID,TotalSavings,AmountCancelled,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,...,Daytime_Monetary_1,Daytime_Monetary_2,Daytime_Monetary_3,Weekday,Weekday_0_Monday,Weekday_1_Tuesday,Weekday_2_Wednesday,Weekday_3_Thursday,Weekday_4_Friday,Weekday_6_Sunday
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,2010-12-01 08:26:00,139.12,139.12,17850.0,0.0,0.0,0.0,0.0,15.30,108.52,...,139.12,0.0,0.0,Weekday_2_Wednesday,0.0,0.0,139.12,0.0,0.0,0.0
536366,2010-12-01 08:28:00,22.20,22.20,17850.0,0.0,0.0,0.0,0.0,22.20,0.00,...,22.20,0.0,0.0,Weekday_2_Wednesday,0.0,0.0,22.20,0.0,0.0,0.0
536367,2010-12-01 08:34:00,278.73,278.73,13047.0,0.0,0.0,0.0,0.0,89.18,55.50,...,278.73,0.0,0.0,Weekday_2_Wednesday,0.0,0.0,278.73,0.0,0.0,0.0
536368,2010-12-01 08:34:00,70.05,70.05,13047.0,0.0,0.0,0.0,0.0,0.00,25.50,...,70.05,0.0,0.0,Weekday_2_Wednesday,0.0,0.0,70.05,0.0,0.0,0.0
536369,2010-12-01 08:35:00,17.85,17.85,13047.0,0.0,0.0,0.0,0.0,0.00,0.00,...,17.85,0.0,0.0,Weekday_2_Wednesday,0.0,0.0,17.85,0.0,0.0,0.0

In [49]:
#When the order has been placed during the month?
def daysplit(x):
    month = x.month
    return 'Month_{:02d}'.format(month)
    #return day

invoicedb['MonthOrder'] = invoicedb['InvoiceDate'].apply(daysplit)    
temp = invoicedb.pivot(columns='MonthOrder', values='TotalInvoice').fillna(0)   
#temp = pd.get_dummies(invoicedb['InvoiceDate'].map(daysplit))
#temp.head()
invoicedb = invoicedb.merge(temp, how='inner', left_index=True, right_index=True)
invoicedb.head()

,InvoiceDate,TotalInvoice,TotalInvoiceInit,CustomerID,TotalSavings,AmountCancelled,QuantUnitPrice_01,QuantUnitPrice_02,QuantUnitPrice_03,QuantUnitPrice_04,...,Month_03,Month_04,Month_05,Month_06,Month_07,Month_08,Month_09,Month_10,Month_11,Month_12
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,2010-12-01 08:26:00,139.12,139.12,17850.0,0.0,0.0,0.0,0.0,15.30,108.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,139.12
536366,2010-12-01 08:28:00,22.20,22.20,17850.0,0.0,0.0,0.0,0.0,22.20,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.20
536367,2010-12-01 08:34:00,278.73,278.73,13047.0,0.0,0.0,0.0,0.0,89.18,55.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,278.73
536368,2010-12-01 08:34:00,70.05,70.05,13047.0,0.0,0.0,0.0,0.0,0.00,25.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.05
536369,2010-12-01 08:35:00,17.85,17.85,13047.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.85

In [57]:
#Customerdb creation
date = invoicedb['InvoiceDate'].max()
def my_agg(x):
    aggcalcul = {
        'LastInvoice': x['InvoiceDate'].max(),
        'Recency': (date - x['InvoiceDate'].max()).days,
        'SpentMin': x['TotalInvoice'].min(),
        'SpentMax': x['TotalInvoice'].max(),
        'SpentMean': x['TotalInvoice'].mean(),
        'SpentSum': x['TotalInvoice'].sum(),
        'SpentStd': x['TotalInvoice'].std(),
        'OrderSepMean': x['Ordersep'].mean(),
        'OrderSepMax' : x['Ordersep'].max(),
        'OrderSepMin' : x['Ordersep'].min(),
        'OrderSepStd' : x['Ordersep'].std(),
        'Frequency' : x['InvoiceDate'].count(),
        'DiscountMean' : x['Discount'].mean(),
        'DiscountMax' : x['Discount'].max(),
        'DiscountMin' : x['Discount'].min(),
        'DiscountStd' : x['Discount'].std(),
        'SavingsSum' : x['TotalSavings'].sum(),
        'SavingsMean' : x['TotalSavings'].mean(),
        'SavingsMax' : x['TotalSavings'].max(),
        'SavingsMin' :x['TotalSavings'].min(), 
        'SavingsStd' : x['TotalSavings'].std(),
        'AmountCancelledSum' : x['AmountCancelled'].sum(),
        'AmountCancelledMean' : x['AmountCancelled'].mean(),
        'AmountCancelledMin' : x['AmountCancelled'].min(),
        'AmountCancelledMax' : x['AmountCancelled'].max(),
        'AmountCancelledStd' : x['AmountCancelled'].std(),
        }
    return pd.Series(aggcalcul, index=aggcalcul.keys())
customerdb = invoicedb.groupby('CustomerID').apply(my_agg).fillna(0)

customerdb.head()

,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,OrderSepMin,...,SavingsSum,SavingsMean,SavingsMax,SavingsMin,SavingsStd,AmountCancelledSum,AmountCancelledMean,AmountCancelledMin,AmountCancelledMax,AmountCancelledStd
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,2011-01-18 10:17:00,325,-77183.60,77183.60,0.000000,0.00,109154.093913,0.00000,0,0,...,0.00,0.000000,0.00,0.00,0.000000,-77183.60,-38591.80000,-77183.60,0.0,54577.046956
12747.0,2011-12-07 14:34:00,1,301.70,675.38,381.455455,4196.01,109.620426,33.00000,65,0,...,83.12,7.556364,40.20,-32.40,23.861230,0.00,0.00000,0.00,0.0,0.000000
12748.0,2011-12-09 12:20:00,0,-1301.00,1948.35,137.419309,29819.99,255.191237,1.37788,30,0,...,-11985.18,-55.231244,4452.50,-7780.50,688.188713,-1830.79,-8.43682,-1301.00,0.0,89.841910
12749.0,2011-12-06 09:56:00,3,-125.78,1866.43,477.275000,3818.20,684.279697,25.75000,91,0,...,115.47,14.433750,41.64,-3.29,18.942951,-222.68,-27.83500,-125.78,0.0,47.730375
12820.0,2011-12-06 15:12:00,2,170.46,343.76,235.585000,942.34,75.049485,80.50000,251,0,...,15.28,3.820000,4.80,1.68,1.439074,0.00,0.00000,0.00,0.0,0.000000

In [58]:
#detail orders for customerdb QUANT UNIT PRICE
detail = [x for x in invoicedb.columns.values if x.startswith('QuantUnitPrice_')]
detail.append('CustomerID')
temp = invoicedb[detail].groupby('CustomerID').agg([np.sum, np.min, np.max, np.std]).fillna(0)
newnames = ["_".join(x) for x in temp.columns.ravel()]
temp.columns = newnames
temp.head()
customerdb = customerdb.merge(temp, how='inner', left_index=True, right_index=True)
customerdb.head()

,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,OrderSepMin,...,QuantUnitPrice_03_amax,QuantUnitPrice_03_std,QuantUnitPrice_04_sum,QuantUnitPrice_04_amin,QuantUnitPrice_04_amax,QuantUnitPrice_04_std,QuantUnitPrice_05_sum,QuantUnitPrice_05_amin,QuantUnitPrice_05_amax,QuantUnitPrice_05_std
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,2011-01-18 10:17:00,325,-77183.60,77183.60,0.000000,0.00,109154.093913,0.00000,0,0,...,0.00,0.000000,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.000000
12747.0,2011-12-07 14:34:00,1,301.70,675.38,381.455455,4196.01,109.620426,33.00000,65,0,...,367.28,84.033280,77.00,0.00,17.00,8.062258,2273.75,55.70,308.10,70.522867
12748.0,2011-12-09 12:20:00,0,-1301.00,1948.35,137.419309,29819.99,255.191237,1.37788,30,0,...,544.85,63.602389,6175.49,-485.00,550.00,75.539243,7149.46,-816.00,816.00,108.178653
12749.0,2011-12-06 09:56:00,3,-125.78,1866.43,477.275000,3818.20,684.279697,25.75000,91,0,...,194.00,85.100797,970.14,-30.22,372.06,155.131776,1704.30,-70.35,832.25,307.592806
12820.0,2011-12-06 15:12:00,2,170.46,343.76,235.585000,942.34,75.049485,80.50000,251,0,...,111.84,28.767609,180.34,17.70,73.04,22.946334,69.30,0.00,24.75,11.783357

In [59]:
#detail orders for customerdb QUANT SAVINGS
detail = [x for x in invoicedb.columns.values if x.startswith('QuantUnitSavings_')]
detail.append('CustomerID')
temp = invoicedb[detail].groupby('CustomerID').agg([np.sum, np.min, np.max, np.std]).fillna(0)
newnames = ["_".join(x) for x in temp.columns.ravel()]
temp.columns = newnames
temp.head()
customerdb = customerdb.merge(temp, how='inner', left_index=True, right_index=True)
customerdb.head()

,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,OrderSepMin,...,QuantUnitSavings_03_amax,QuantUnitSavings_03_std,QuantUnitSavings_04_sum,QuantUnitSavings_04_amin,QuantUnitSavings_04_amax,QuantUnitSavings_04_std,QuantUnitSavings_05_sum,QuantUnitSavings_05_amin,QuantUnitSavings_05_amax,QuantUnitSavings_05_std
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,2011-01-18 10:17:00,325,-77183.60,77183.60,0.000000,0.00,109154.093913,0.00000,0,0,...,0.00,0.000000,0.00,0.0,0.0,0.000000,0.00,0.0,0.0,0.000000
12747.0,2011-12-07 14:34:00,1,301.70,675.38,381.455455,4196.01,109.620426,33.00000,65,0,...,27.90,9.873481,0.00,0.0,0.0,0.000000,-22.70,-32.4,12.3,18.049503
12748.0,2011-12-09 12:20:00,0,-1301.00,1948.35,137.419309,29819.99,255.191237,1.37788,30,0,...,21.01,59.050292,-5434.19,-4125.0,2023.1,344.136293,-3893.62,-3588.0,2429.4,337.740497
12749.0,2011-12-06 09:56:00,3,-125.78,1866.43,477.275000,3818.20,684.279697,25.75000,91,0,...,7.80,2.766771,26.90,-0.8,10.5,4.292830,54.80,-2.0,30.8,11.668150
12820.0,2011-12-06 15:12:00,2,170.46,343.76,235.585000,942.34,75.049485,80.50000,251,0,...,4.80,1.959592,2.00,0.0,2.0,1.000000,0.00,0.0,0.0,0.000000

In [60]:
#Time of the day aggregation
detail = [x for x in invoicedb.columns.values if x.startswith('Daytime_Monetary_')]
detail.append('CustomerID')
temp = invoicedb[detail].groupby('CustomerID').agg([np.sum, np.mean, np.std]).fillna(0)
newnames = ["_".join(x) for x in temp.columns.ravel()]
#temp.columns = temp.columns.droplevel(0)
temp.columns = newnames
temp.head()
customerdb = customerdb.merge(temp, how='inner', left_index=True, right_index=True)
customerdb.head()

,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,OrderSepMin,...,QuantUnitSavings_05_std,Daytime_Monetary_1_sum,Daytime_Monetary_1_mean,Daytime_Monetary_1_std,Daytime_Monetary_2_sum,Daytime_Monetary_2_mean,Daytime_Monetary_2_std,Daytime_Monetary_3_sum,Daytime_Monetary_3_mean,Daytime_Monetary_3_std
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,2011-01-18 10:17:00,325,-77183.60,77183.60,0.000000,0.00,109154.093913,0.00000,0,0,...,0.000000,0.00,0.000000,109154.093913,0.00,0.000000,0.000000,0.00,0.000000,0.000000
12747.0,2011-12-07 14:34:00,1,301.70,675.38,381.455455,4196.01,109.620426,33.00000,65,0,...,18.049503,2029.44,184.494545,233.036066,2166.57,196.960909,194.048703,0.00,0.000000,0.000000
12748.0,2011-12-09 12:20:00,0,-1301.00,1948.35,137.419309,29819.99,255.191237,1.37788,30,0,...,337.740497,4898.29,22.572765,72.209675,24840.96,114.474470,255.310826,80.74,0.372074,4.370894
12749.0,2011-12-06 09:56:00,3,-125.78,1866.43,477.275000,3818.20,684.279697,25.75000,91,0,...,11.668150,637.28,79.660000,279.621031,3200.82,400.102500,678.324519,-19.90,-2.487500,7.035712
12820.0,2011-12-06 15:12:00,2,170.46,343.76,235.585000,942.34,75.049485,80.50000,251,0,...,0.000000,217.77,54.442500,108.885000,724.57,181.142500,141.685391,0.00,0.000000,0.000000

In [61]:
#Time of the month aggregation
detail = [x for x in invoicedb.columns.values if x.startswith('Month_')]
detail.append('CustomerID')
temp = invoicedb[detail].groupby('CustomerID').agg([np.sum, np.mean, np.std]).fillna(0)
newnames = ["_".join(x) for x in temp.columns.ravel()]
temp.columns = newnames
temp.head()
customerdb = customerdb.merge(temp, how='inner', left_index=True, right_index=True)
customerdb.head()

,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,OrderSepMin,...,Month_09_std,Month_10_sum,Month_10_mean,Month_10_std,Month_11_sum,Month_11_mean,Month_11_std,Month_12_sum,Month_12_mean,Month_12_std
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,2011-01-18 10:17:00,325,-77183.60,77183.60,0.000000,0.00,109154.093913,0.00000,0,0,...,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000
12747.0,2011-12-07 14:34:00,1,301.70,675.38,381.455455,4196.01,109.620426,33.00000,65,0,...,0.000000,675.38,61.398182,203.634732,312.73,28.430000,94.291643,1144.77,104.070000,179.614463
12748.0,2011-12-09 12:20:00,0,-1301.00,1948.35,137.419309,29819.99,255.191237,1.37788,30,0,...,184.042233,2149.30,9.904608,69.792212,8257.83,38.054516,158.866489,5090.47,23.458387,76.161941
12749.0,2011-12-06 09:56:00,3,-125.78,1866.43,477.275000,3818.20,684.279697,25.75000,91,0,...,0.000000,0.00,0.000000,0.000000,522.59,65.323750,184.763466,763.06,95.382500,269.782450
12820.0,2011-12-06 15:12:00,2,170.46,343.76,235.585000,942.34,75.049485,80.50000,251,0,...,108.885000,343.76,85.940000,171.880000,0.00,0.000000,0.000000,210.35,52.587500,105.175000

In [62]:
#Time of the week aggregation
detail = [x for x in invoicedb.columns.values if x.startswith('Weekday_')]
detail.append('CustomerID')
temp = invoicedb[detail].groupby('CustomerID').agg([np.sum, np.mean, np.std]).fillna(0)
newnames = ["_".join(x) for x in temp.columns.ravel()]
temp.columns = newnames
#temp.head()
customerdb = customerdb.merge(temp, how='inner', left_index=True, right_index=True)
customerdb.head()

,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,OrderSepMin,...,Weekday_2_Wednesday_std,Weekday_3_Thursday_sum,Weekday_3_Thursday_mean,Weekday_3_Thursday_std,Weekday_4_Friday_sum,Weekday_4_Friday_mean,Weekday_4_Friday_std,Weekday_6_Sunday_sum,Weekday_6_Sunday_mean,Weekday_6_Sunday_std
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,2011-01-18 10:17:00,325,-77183.60,77183.60,0.000000,0.00,109154.093913,0.00000,0,0,...,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000
12747.0,2011-12-07 14:34:00,1,301.70,675.38,381.455455,4196.01,109.620426,33.00000,65,0,...,157.046512,1058.73,96.248182,168.506979,0.00,0.000000,0.000000,358.56,32.596364,108.109908
12748.0,2011-12-09 12:20:00,0,-1301.00,1948.35,137.419309,29819.99,255.191237,1.37788,30,0,...,167.538969,4140.04,19.078525,66.743641,7530.98,34.704977,118.293336,4837.17,22.291106,146.068739
12749.0,2011-12-06 09:56:00,3,-125.78,1866.43,477.275000,3818.20,684.279697,25.75000,91,0,...,0.000000,376.91,47.113750,196.962391,0.00,0.000000,0.000000,0.00,0.000000,0.000000
12820.0,2011-12-06 15:12:00,2,170.46,343.76,235.585000,942.34,75.049485,80.50000,251,0,...,171.880000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000

In [66]:
#rfm score calculation
scorerange = 4
divider = 100/scorerange
customerdb['F'] = customerdb['Frequency'].apply(lambda x: scorerange + 1 - math.ceil(stats.percentileofscore(customerdb['Frequency'],x, kind = 'mean')/divider))
customerdb['R'] = customerdb['Recency'].apply(lambda x: math.ceil(stats.percentileofscore(customerdb['Recency'],x, kind = 'mean')/divider))
customerdb['M'] = customerdb['SpentSum'].apply(lambda x: scorerange + 1 - math.ceil(stats.percentileofscore(customerdb['SpentSum'],x, kind = 'mean')/divider))
customerdb['D'] = customerdb['SavingsSum'].apply(lambda x: scorerange + 1 - math.ceil(stats.percentileofscore(customerdb['SavingsSum'],x, kind = 'mean')/divider))

scorerange = 3
divider = 100/scorerange
customerdb['C'] = customerdb['AmountCancelledSum'].apply(lambda x: scorerange + 1 - math.ceil(stats.percentileofscore(customerdb['AmountCancelledSum'],x, kind = 'mean')/divider))
customerdb['RFMDC'] = customerdb['R'] *10000 +  customerdb['F'] *1000 +  customerdb['M'] *100 + customerdb['D'] *10 + customerdb['C'] *1
customerdb[['R', 'F', 'M', 'D', 'C', 'RFMDC']].head()

            R  F  M  D  C  RFMDC
CustomerID
12346.0     4  3  4  2  3  43423
12747.0     1  1  1  1  1  11111
12748.0     1  1  1  4  3  11143
12749.0     1  1  1  1  3  11113
12820.0     1  2  2  1  1  12211

In [67]:
customerdb[['R', 'F', 'M', 'D', 'C', 'RFMDC']].describe()
#customerdb.columns.values

,R,F,M,D,C,RFMDC
count,3942.000000,3942.000000,3942.000000,3942.000000,3942.000000,3942.000000
mean,2.509132,2.547438,2.500254,2.500254,1.683156,27915.473110
std,1.112907,1.160177,1.118176,1.118176,0.940134,11819.771037
min,1.000000,1.000000,1.000000,1.000000,1.000000,11111.000000
25%,2.000000,2.000000,2.000000,2.000000,1.000000,21113.000000
50%,3.000000,2.000000,2.500000,2.500000,1.000000,31113.000000
75%,3.000000,4.000000,3.750000,3.750000,3.000000,34441.000000
max,4.000000,4.000000,4.000000,4.000000,3.000000,44441.000000

In [68]:
def customerdbcreation(invoiceset, light = True, pitch = 1, monthcovered = 4):
    dataset = pd.DataFrame()
    dates = np.sort(invoiceset['InvoiceDate'].map(lambda x : x.date()).unique())
    #We drop the first days
    dates = np.delete(dates, [0,1])
    counter = 0
    for orderdate in dates[::pitch]:
        counter += 1
        df = invoiceset[invoiceset['InvoiceDate'] <= orderdate]
        df = df[df['InvoiceDate'] > orderdate - timedelta(days=30 * monthcovered)]
        
        date = df['InvoiceDate'].max()
        def my_agg(x):
            aggcalcul = {
                    'LastInvoice': x['InvoiceDate'].max(),
                    'Recency': (date - x['InvoiceDate'].max()).days,
                    'SpentMin': x['TotalInvoice'].min(),
                    'SpentMax': x['TotalInvoice'].max(),
                    'SpentMean': x['TotalInvoice'].mean(),
                    'SpentSum': x['TotalInvoice'].sum(),
                    'SpentStd': x['TotalInvoice'].std(),
                    'OrderSepMean': x['Ordersep'].mean(),
                    'OrderSepMax' : x['Ordersep'].max(),
                    'OrderSepMin' : x['Ordersep'].min(),
                    'OrderSepStd' : x['Ordersep'].std(),
                    'Frequency' : x['InvoiceDate'].count(),
                    'DiscountMean' : x['Discount'].mean(),
                    'DiscountMax' : x['Discount'].max(),
                    'DiscountMin' : x['Discount'].min(),
                    'DiscountStd' : x['Discount'].std(),
                    'SavingsSum' : x['TotalSavings'].sum(),
                    'SavingsMean' : x['TotalSavings'].mean(),
                    'SavingsMax' : x['TotalSavings'].max(),
                    'SavingsMin' :x['TotalSavings'].min(), 
                    'SavingsStd' : x['TotalSavings'].std(),
                    'AmountCancelledSum' : x['AmountCancelled'].sum(),
                    'AmountCancelledMean' : x['AmountCancelled'].mean(),
                    'AmountCancelledMin' : x['AmountCancelled'].min(),
                    'AmountCancelledMax' : x['AmountCancelled'].max(),
                    'AmountCancelledStd' : x['AmountCancelled'].std(),
                    }
            return pd.Series(aggcalcul, index=aggcalcul.keys())
        customer = df.groupby('CustomerID').apply(my_agg).fillna(0)


        if not light:
            #detail orders for customerdb QUANT UNIT PRICE
            detail = [x for x in df.columns.values if x.startswith('QuantUnitPrice_')]
            detail.append('CustomerID')
            temp = df[detail].groupby('CustomerID').agg([np.sum, np.min, np.max, np.std]).fillna(0)
            newnames = ["_".join(x) for x in temp.columns.ravel()]
            temp.columns = newnames
            customer = customer.merge(temp, how='inner', left_index=True, right_index=True)

            #detail orders for customerdb QUANT SAVINGS
            detail = [x for x in df.columns.values if x.startswith('QuantUnitSavings_')]
            detail.append('CustomerID')
            temp = df[detail].groupby('CustomerID').agg([np.sum, np.min, np.max, np.std]).fillna(0)
            newnames = ["_".join(x) for x in temp.columns.ravel()]
            temp.columns = newnames
            customer = customer.merge(temp, how='inner', left_index=True, right_index=True)

            #Time of the day aggregation
            detail = [x for x in df.columns.values if x.startswith('Daytime_Monetary_')]
            detail.append('CustomerID')
            temp = df[detail].groupby('CustomerID').agg([np.sum, np.mean, np.std]).fillna(0)
            newnames = ["_".join(x) for x in temp.columns.ravel()]
            temp.columns = newnames
            customer = customer.merge(temp, how='inner', left_index=True, right_index=True)

            #Time of the month aggregation
            detail = [x for x in df.columns.values if x.startswith('Month_')]
            detail.append('CustomerID')
            temp = df[detail].groupby('CustomerID').agg([np.sum, np.mean, np.std]).fillna(0)
            newnames = ["_".join(x) for x in temp.columns.ravel()]
            temp.columns = newnames
            customer = customer.merge(temp, how='inner', left_index=True, right_index=True)
            customer.head()
            
            #Time of the week aggregation
            detail = [x for x in df.columns.values if x.startswith('Weekday_')]
            detail.append('CustomerID')
            temp = df[detail].groupby('CustomerID').agg([np.sum, np.mean, np.std]).fillna(0)
            newnames = ["_".join(x) for x in temp.columns.ravel()]
            temp.columns = newnames
            customer = customer.merge(temp, how='inner', left_index=True, right_index=True)

        
        #rfm score calculation
        scorerange = 4
        divider = 100/scorerange
        customer['F'] = customer['Frequency'].apply(lambda x: scorerange + 1 - math.ceil(stats.percentileofscore(customer['Frequency'],x, kind = 'mean')/divider))
        customer['R'] = customer['Recency'].apply(lambda x: math.ceil(stats.percentileofscore(customer['Recency'],x, kind = 'mean')/divider))
        customer['M'] = customer['SpentSum'].apply(lambda x: scorerange + 1 - math.ceil(stats.percentileofscore(customer['SpentSum'],x, kind = 'mean')/divider))
        customer['D'] = customer['SavingsSum'].apply(lambda x: scorerange + 1 - math.ceil(stats.percentileofscore(customer['SavingsSum'],x, kind = 'mean')/divider))
        
        scorerange = 3
        divider = 100/scorerange
        customer['C'] = customer['AmountCancelledSum'].apply(lambda x: scorerange + 1 - math.ceil(stats.percentileofscore(customer['AmountCancelledSum'],x, kind = 'mean')/divider))
        customer['RFMDC'] = customer['R'] *10000 +  customer['F'] *1000 +  customer['M'] *100 + customer['D'] *10 + customer['C'] *1
        
        #Timestamp on current day set
        customer['Timestamp'] = customer['LastInvoice'].apply(lambda x: orderdate)
        
        #Data assembly
        print('{}-{} - {}'.format(counter, len(dates[::pitch]), orderdate))
        dataset = pd.concat([dataset, customer.reset_index()], axis = 0)
        print('dataset size : ', dataset.shape)
        print('Timestamp -->', datetime.now())
        
    return dataset
    
dataset = customerdbcreation(invoicedb.head(1000), light = False, pitch = 2, monthcovered=4)
#dataset.to_csv('Z1 - completepicturecustomer1yearP2.csv')
dataset.head()

1-5 - 2010-12-03
dataset size :  (194, 137)
Timestamp --> 2018-01-06 14:28:01.997283
2-5 - 2010-12-06
dataset size :  (490, 137)
Timestamp --> 2018-01-06 14:28:02.996607
3-5 - 2010-12-08
dataset size :  (908, 137)
Timestamp --> 2018-01-06 14:28:04.294526
4-5 - 2010-12-10
dataset size :  (1481, 137)
Timestamp --> 2018-01-06 14:28:06.124174
5-5 - 2010-12-13
dataset size :  (2120, 137)
Timestamp --> 2018-01-06 14:28:08.182139

,CustomerID,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,...,Weekday_6_Sunday_sum,Weekday_6_Sunday_mean,Weekday_6_Sunday_std,F,R,M,D,C,RFMDC,Timestamp
0,12748.0,2010-12-02 11:46:00,0,4.25,4.95,4.60,9.20,0.494975,0.0,0,...,0.0,0.0,0.0,1,2,4,3,2,21432,2010-12-03
1,12838.0,2010-12-01 11:57:00,1,390.79,390.79,390.79,390.79,0.000000,0.0,0,...,0.0,0.0,0.0,3,4,1,1,2,43112,2010-12-03
2,12855.0,2010-12-02 09:37:00,0,38.10,38.10,38.10,38.10,0.000000,0.0,0,...,0.0,0.0,0.0,3,2,4,2,2,23422,2010-12-03
3,12868.0,2010-12-01 12:50:00,1,203.30,203.30,203.30,203.30,0.000000,0.0,0,...,0.0,0.0,0.0,3,4,3,3,2,43332,2010-12-03
4,12915.0,2010-12-02 12:33:00,0,199.65,199.65,199.65,199.65,0.000000,0.0,0,...,0.0,0.0,0.0,3,2,3,2,2,23322,2010-12-03

In [69]:
#Training set creation
dataset = customerdbcreation(invoicedb, light = False, pitch = 3, monthcovered=4)
dataset.to_csv('Z1 - completepicturecustomer1yearP3MC4.csv')
dataset.head()

1-101 - 2010-12-03
dataset size :  (194, 137)
Timestamp --> 2018-01-06 14:28:37.760678
2-101 - 2010-12-07
dataset size :  (562, 137)
Timestamp --> 2018-01-06 14:28:39.042775
3-101 - 2010-12-10
dataset size :  (1135, 137)
Timestamp --> 2018-01-06 14:28:40.876312
4-101 - 2010-12-14
dataset size :  (1806, 137)
Timestamp --> 2018-01-06 14:28:43.049885
5-101 - 2010-12-17
dataset size :  (2620, 137)
Timestamp --> 2018-01-06 14:28:45.592289
6-101 - 2010-12-21
dataset size :  (3471, 137)
Timestamp --> 2018-01-06 14:28:48.320649
7-101 - 2011-01-04
dataset size :  (4341, 137)
Timestamp --> 2018-01-06 14:28:51.057837
8-101 - 2011-01-07
dataset size :  (5256, 137)
Timestamp --> 2018-01-06 14:28:53.873343
9-101 - 2011-01-11
dataset size :  (6222, 137)
Timestamp --> 2018-01-06 14:28:56.849801
10-101 - 2011-01-14
dataset size :  (7239, 137)
Timestamp --> 2018-01-06 14:28:59.994741
11-101 - 2011-01-18
dataset size :  (8295, 137)
Timestamp --> 2018-01-06 14:29:03.211493
12-101 - 2011-01-21
dataset size :  (9382, 137)
Timestamp --> 2018-01-06 14:29:06.572874
13-101 - 2011-01-25
dataset size :  (10511, 137)
Timestamp --> 2018-01-06 14:29:10.033617
14-101 - 2011-01-28
dataset size :  (11704, 137)
Timestamp --> 2018-01-06 14:29:13.728674
15-101 - 2011-02-01
dataset size :  (12936, 137)
Timestamp --> 2018-01-06 14:29:17.589022
16-101 - 2011-02-04
dataset size :  (14231, 137)
Timestamp --> 2018-01-06 14:29:21.698414
17-101 - 2011-02-08
dataset size :  (15561, 137)
Timestamp --> 2018-01-06 14:29:26.046169
18-101 - 2011-02-11
dataset size :  (16919, 137)
Timestamp --> 2018-01-06 14:29:30.683885
19-101 - 2011-02-15
dataset size :  (18309, 137)
Timestamp --> 2018-01-06 14:29:35.396512
20-101 - 2011-02-18
dataset size :  (19741, 137)
Timestamp --> 2018-01-06 14:29:40.129199
21-101 - 2011-02-22
dataset size :  (21209, 137)
Timestamp --> 2018-01-06 14:29:44.859336
22-101 - 2011-02-25
dataset size :  (22732, 137)
Timestamp --> 2018-01-06 14:29:49.660697
23-101 - 2011-03-01
dataset size :  (24302, 137)
Timestamp --> 2018-01-06 14:29:54.451302
24-101 - 2011-03-04
dataset size :  (25926, 137)
Timestamp --> 2018-01-06 14:29:59.557899
25-101 - 2011-03-08
dataset size :  (27590, 137)
Timestamp --> 2018-01-06 14:30:04.906065
26-101 - 2011-03-11
dataset size :  (29306, 137)
Timestamp --> 2018-01-06 14:30:10.585341
27-101 - 2011-03-15
dataset size :  (31050, 137)
Timestamp --> 2018-01-06 14:30:16.698593
28-101 - 2011-03-18
dataset size :  (32841, 137)
Timestamp --> 2018-01-06 14:30:22.612324
29-101 - 2011-03-22
dataset size :  (34689, 137)
Timestamp --> 2018-01-06 14:30:28.685907
30-101 - 2011-03-25
dataset size :  (36589, 137)
Timestamp --> 2018-01-06 14:30:35.087253
31-101 - 2011-03-29
dataset size :  (38519, 137)
Timestamp --> 2018-01-06 14:30:41.134885
32-101 - 2011-04-01
dataset size :  (40464, 137)
Timestamp --> 2018-01-06 14:30:47.316370
33-101 - 2011-04-05
dataset size :  (42375, 137)
Timestamp --> 2018-01-06 14:30:53.719528
34-101 - 2011-04-08
dataset size :  (44278, 137)
Timestamp --> 2018-01-06 14:30:59.893817
35-101 - 2011-04-12
dataset size :  (46179, 137)
Timestamp --> 2018-01-06 14:31:06.051344
36-101 - 2011-04-15
dataset size :  (48077, 137)
Timestamp --> 2018-01-06 14:31:12.062989
37-101 - 2011-04-19
dataset size :  (49978, 137)
Timestamp --> 2018-01-06 14:31:18.316218
38-101 - 2011-04-26
dataset size :  (51902, 137)
Timestamp --> 2018-01-06 14:31:24.466927
39-101 - 2011-05-01
dataset size :  (53859, 137)
Timestamp --> 2018-01-06 14:31:30.551743
40-101 - 2011-05-05
dataset size :  (55837, 137)
Timestamp --> 2018-01-06 14:31:36.745633
41-101 - 2011-05-09
dataset size :  (57847, 137)
Timestamp --> 2018-01-06 14:31:43.168922
42-101 - 2011-05-12
dataset size :  (59871, 137)
Timestamp --> 2018-01-06 14:31:49.613415
43-101 - 2011-05-16
dataset size :  (61910, 137)
Timestamp --> 2018-01-06 14:31:56.203623
44-101 - 2011-05-19
dataset size :  (63963, 137)
Timestamp --> 2018-01-06 14:32:02.769241
45-101 - 2011-05-23
dataset size :  (66040, 137)
Timestamp --> 2018-01-06 14:32:09.427966
46-101 - 2011-05-26
dataset size :  (68117, 137)
Timestamp --> 2018-01-06 14:32:16.007026
47-101 - 2011-05-31
dataset size :  (70182, 137)
Timestamp --> 2018-01-06 14:32:22.672063
48-101 - 2011-06-03
dataset size :  (72235, 137)
Timestamp --> 2018-01-06 14:32:29.422397
49-101 - 2011-06-07
dataset size :  (74301, 137)
Timestamp --> 2018-01-06 14:32:36.315294
50-101 - 2011-06-10
dataset size :  (76392, 137)
Timestamp --> 2018-01-06 14:32:43.319452
51-101 - 2011-06-14
dataset size :  (78487, 137)
Timestamp --> 2018-01-06 14:32:50.337301
52-101 - 2011-06-17
dataset size :  (80595, 137)
Timestamp --> 2018-01-06 14:32:57.148180
53-101 - 2011-06-21
dataset size :  (82714, 137)
Timestamp --> 2018-01-06 14:33:03.998600
54-101 - 2011-06-24
dataset size :  (84842, 137)
Timestamp --> 2018-01-06 14:33:10.720806
55-101 - 2011-06-28
dataset size :  (86964, 137)
Timestamp --> 2018-01-06 14:33:17.595513
56-101 - 2011-07-01
dataset size :  (89085, 137)
Timestamp --> 2018-01-06 14:33:24.750636
57-101 - 2011-07-05
dataset size :  (91201, 137)
Timestamp --> 2018-01-06 14:33:31.508801
58-101 - 2011-07-08
dataset size :  (93320, 137)
Timestamp --> 2018-01-06 14:33:38.557108
59-101 - 2011-07-12
dataset size :  (95445, 137)
Timestamp --> 2018-01-06 14:33:45.404272
60-101 - 2011-07-15
dataset size :  (97578, 137)
Timestamp --> 2018-01-06 14:33:52.169478
61-101 - 2011-07-19
dataset size :  (99699, 137)
Timestamp --> 2018-01-06 14:33:58.920241
62-101 - 2011-07-22
dataset size :  (101809, 137)
Timestamp --> 2018-01-06 14:34:05.847917
63-101 - 2011-07-26
dataset size :  (103918, 137)
Timestamp --> 2018-01-06 14:34:12.910285
64-101 - 2011-07-29
dataset size :  (106015, 137)
Timestamp --> 2018-01-06 14:34:19.465182
65-101 - 2011-08-02
dataset size :  (108108, 137)
Timestamp --> 2018-01-06 14:34:26.314557
66-101 - 2011-08-05
dataset size :  (110210, 137)
Timestamp --> 2018-01-06 14:34:33.163316
67-101 - 2011-08-09
dataset size :  (112298, 137)
Timestamp --> 2018-01-06 14:34:39.993218
68-101 - 2011-08-12
dataset size :  (114381, 137)
Timestamp --> 2018-01-06 14:34:46.756126
69-101 - 2011-08-16
dataset size :  (116443, 137)
Timestamp --> 2018-01-06 14:34:53.483884
70-101 - 2011-08-19
dataset size :  (118491, 137)
Timestamp --> 2018-01-06 14:35:00.136623
71-101 - 2011-08-23
dataset size :  (120553, 137)
Timestamp --> 2018-01-06 14:35:06.889500
72-101 - 2011-08-26
dataset size :  (122633, 137)
Timestamp --> 2018-01-06 14:35:13.542056
73-101 - 2011-08-31
dataset size :  (124715, 137)
Timestamp --> 2018-01-06 14:35:20.316817
74-101 - 2011-09-04
dataset size :  (126774, 137)
Timestamp --> 2018-01-06 14:35:27.135349
75-101 - 2011-09-07
dataset size :  (128850, 137)
Timestamp --> 2018-01-06 14:35:34.007103
76-101 - 2011-09-11
dataset size :  (130897, 137)
Timestamp --> 2018-01-06 14:35:40.718038
77-101 - 2011-09-14
dataset size :  (132992, 137)
Timestamp --> 2018-01-06 14:35:47.558866
78-101 - 2011-09-18
dataset size :  (135089, 137)
Timestamp --> 2018-01-06 14:35:54.272132
79-101 - 2011-09-21
dataset size :  (137192, 137)
Timestamp --> 2018-01-06 14:36:01.160602
80-101 - 2011-09-25
dataset size :  (139326, 137)
Timestamp --> 2018-01-06 14:36:08.140280
81-101 - 2011-09-28
dataset size :  (141522, 137)
Timestamp --> 2018-01-06 14:36:15.413599
82-101 - 2011-10-02
dataset size :  (143740, 137)
Timestamp --> 2018-01-06 14:36:22.755159
83-101 - 2011-10-05
dataset size :  (145991, 137)
Timestamp --> 2018-01-06 14:36:30.049036
84-101 - 2011-10-09
dataset size :  (148261, 137)
Timestamp --> 2018-01-06 14:36:37.527353
85-101 - 2011-10-12
dataset size :  (150567, 137)
Timestamp --> 2018-01-06 14:36:45.129384
86-101 - 2011-10-16
dataset size :  (152886, 137)
Timestamp --> 2018-01-06 14:36:52.864103
87-101 - 2011-10-19
dataset size :  (155231, 137)
Timestamp --> 2018-01-06 14:37:00.678087
88-101 - 2011-10-23
dataset size :  (157606, 137)
Timestamp --> 2018-01-06 14:37:08.452674
89-101 - 2011-10-26
dataset size :  (160026, 137)
Timestamp --> 2018-01-06 14:37:16.516691
90-101 - 2011-10-30
dataset size :  (162464, 137)
Timestamp --> 2018-01-06 14:37:24.683497
91-101 - 2011-11-02
dataset size :  (164946, 137)
Timestamp --> 2018-01-06 14:37:33.030496

92-101 - 2011-11-06
dataset size :  (167447, 137)
Timestamp --> 2018-01-06 14:37:41.216614
93-101 - 2011-11-09
dataset size :  (170001, 137)
Timestamp --> 2018-01-06 14:37:49.567429
94-101 - 2011-11-13
dataset size :  (172588, 137)
Timestamp --> 2018-01-06 14:37:57.941312
95-101 - 2011-11-16
dataset size :  (175223, 137)
Timestamp --> 2018-01-06 14:38:06.642262
96-101 - 2011-11-20
dataset size :  (177893, 137)
Timestamp --> 2018-01-06 14:38:15.396913
97-101 - 2011-11-23
dataset size :  (180617, 137)
Timestamp --> 2018-01-06 14:38:24.183192
98-101 - 2011-11-27
dataset size :  (183362, 137)
Timestamp --> 2018-01-06 14:38:33.127754
99-101 - 2011-11-30
dataset size :  (186149, 137)
Timestamp --> 2018-01-06 14:38:42.382583
100-101 - 2011-12-04
dataset size :  (188941, 137)
Timestamp --> 2018-01-06 14:38:51.508684
101-101 - 2011-12-07
dataset size :  (191764, 137)
Timestamp --> 2018-01-06 14:39:01.042497

,CustomerID,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,...,Weekday_6_Sunday_sum,Weekday_6_Sunday_mean,Weekday_6_Sunday_std,F,R,M,D,C,RFMDC,Timestamp
0,12748.0,2010-12-02 11:46:00,0,4.25,4.95,4.60,9.20,0.494975,0.0,0,...,0.0,0.0,0.0,1,2,4,3,2,21432,2010-12-03
1,12838.0,2010-12-01 11:57:00,1,390.79,390.79,390.79,390.79,0.000000,0.0,0,...,0.0,0.0,0.0,3,4,1,1,2,43112,2010-12-03
2,12855.0,2010-12-02 09:37:00,0,38.10,38.10,38.10,38.10,0.000000,0.0,0,...,0.0,0.0,0.0,3,2,4,2,2,23422,2010-12-03
3,12868.0,2010-12-01 12:50:00,1,203.30,203.30,203.30,203.30,0.000000,0.0,0,...,0.0,0.0,0.0,3,4,3,3,2,43332,2010-12-03
4,12915.0,2010-12-02 12:33:00,0,199.65,199.65,199.65,199.65,0.000000,0.0,0,...,0.0,0.0,0.0,3,2,3,2,2,23322,2010-12-03

In [70]:
#customer behaving calculation analysis
dataset = customerdbcreation(invoicedb, light = True, pitch = 1, monthcovered=20)
dataset.to_csv('Z1 - completepicturecustomer1yearP1MC20.csv')
dataset.head()

1-303 - 2010-12-03
dataset size :  (194, 34)
Timestamp --> 2018-01-06 14:39:31.562677
2-303 - 2010-12-05
dataset size :  (426, 34)
Timestamp --> 2018-01-06 14:39:32.315236
3-303 - 2010-12-06
dataset size :  (722, 34)
Timestamp --> 2018-01-06 14:39:33.286390
4-303 - 2010-12-07
dataset size :  (1090, 34)
Timestamp --> 2018-01-06 14:39:34.505151
5-303 - 2010-12-08
dataset size :  (1508, 34)
Timestamp --> 2018-01-06 14:39:35.814972
6-303 - 2010-12-09
dataset size :  (2010, 34)
Timestamp --> 2018-01-06 14:39:37.454069
7-303 - 2010-12-10
dataset size :  (2583, 34)
Timestamp --> 2018-01-06 14:39:39.291717
8-303 - 2010-12-12
dataset size :  (3192, 34)
Timestamp --> 2018-01-06 14:39:41.266414
9-303 - 2010-12-13
dataset size :  (3831, 34)
Timestamp --> 2018-01-06 14:39:43.346521
10-303 - 2010-12-14
dataset size :  (4502, 34)
Timestamp --> 2018-01-06 14:39:45.522569
11-303 - 2010-12-15
dataset size :  (5213, 34)
Timestamp --> 2018-01-06 14:39:47.832892
12-303 - 2010-12-16
dataset size :  (5970, 34)
Timestamp --> 2018-01-06 14:39:50.246444
13-303 - 2010-12-17
dataset size :  (6784, 34)
Timestamp --> 2018-01-06 14:39:52.716738
14-303 - 2010-12-19
dataset size :  (7614, 34)
Timestamp --> 2018-01-06 14:39:55.334043
15-303 - 2010-12-20
dataset size :  (8450, 34)
Timestamp --> 2018-01-06 14:39:57.976223
16-303 - 2010-12-21
dataset size :  (9301, 34)
Timestamp --> 2018-01-06 14:40:00.643839
17-303 - 2010-12-22
dataset size :  (10160, 34)
Timestamp --> 2018-01-06 14:40:03.395747
18-303 - 2010-12-23
dataset size :  (11025, 34)
Timestamp --> 2018-01-06 14:40:06.193839
19-303 - 2011-01-04
dataset size :  (11895, 34)
Timestamp --> 2018-01-06 14:40:08.908171
20-303 - 2011-01-05
dataset size :  (12779, 34)
Timestamp --> 2018-01-06 14:40:11.777128
21-303 - 2011-01-06
dataset size :  (13676, 34)
Timestamp --> 2018-01-06 14:40:14.459666
22-303 - 2011-01-07
dataset size :  (14591, 34)
Timestamp --> 2018-01-06 14:40:17.211588
23-303 - 2011-01-09
dataset size :  (15522, 34)
Timestamp --> 2018-01-06 14:40:20.131406
24-303 - 2011-01-10
dataset size :  (16475, 34)
Timestamp --> 2018-01-06 14:40:23.092123
25-303 - 2011-01-11
dataset size :  (17441, 34)
Timestamp --> 2018-01-06 14:40:26.076990
26-303 - 2011-01-12
dataset size :  (18429, 34)
Timestamp --> 2018-01-06 14:40:29.098051
27-303 - 2011-01-13
dataset size :  (19431, 34)
Timestamp --> 2018-01-06 14:40:32.314782
28-303 - 2011-01-14
dataset size :  (20448, 34)
Timestamp --> 2018-01-06 14:40:35.456050
29-303 - 2011-01-16
dataset size :  (21473, 34)
Timestamp --> 2018-01-06 14:40:38.684798
30-303 - 2011-01-17
dataset size :  (22512, 34)
Timestamp --> 2018-01-06 14:40:41.964250
31-303 - 2011-01-18
dataset size :  (23568, 34)
Timestamp --> 2018-01-06 14:40:45.353083
32-303 - 2011-01-19
dataset size :  (24635, 34)
Timestamp --> 2018-01-06 14:40:48.654288
33-303 - 2011-01-20
dataset size :  (25710, 34)
Timestamp --> 2018-01-06 14:40:51.940860
34-303 - 2011-01-21
dataset size :  (26797, 34)
Timestamp --> 2018-01-06 14:40:55.383694
35-303 - 2011-01-23
dataset size :  (27896, 34)
Timestamp --> 2018-01-06 14:40:58.786294
36-303 - 2011-01-24
dataset size :  (29007, 34)
Timestamp --> 2018-01-06 14:41:02.210710
37-303 - 2011-01-25
dataset size :  (30136, 34)
Timestamp --> 2018-01-06 14:41:05.667672
38-303 - 2011-01-26
dataset size :  (31291, 34)
Timestamp --> 2018-01-06 14:41:09.113493
39-303 - 2011-01-27
dataset size :  (32468, 34)
Timestamp --> 2018-01-06 14:41:12.721936
40-303 - 2011-01-28
dataset size :  (33661, 34)
Timestamp --> 2018-01-06 14:41:16.343984
41-303 - 2011-01-30
dataset size :  (34868, 34)
Timestamp --> 2018-01-06 14:41:20.193180
42-303 - 2011-01-31
dataset size :  (36084, 34)
Timestamp --> 2018-01-06 14:41:24.097566
43-303 - 2011-02-01
dataset size :  (37316, 34)
Timestamp --> 2018-01-06 14:41:27.889248
44-303 - 2011-02-02
dataset size :  (38572, 34)
Timestamp --> 2018-01-06 14:41:31.806914
45-303 - 2011-02-03
dataset size :  (39852, 34)
Timestamp --> 2018-01-06 14:41:35.745765
46-303 - 2011-02-04
dataset size :  (41147, 34)
Timestamp --> 2018-01-06 14:41:39.681213
47-303 - 2011-02-06
dataset size :  (42460, 34)
Timestamp --> 2018-01-06 14:41:43.890179
48-303 - 2011-02-07
dataset size :  (43777, 34)
Timestamp --> 2018-01-06 14:41:47.949267
49-303 - 2011-02-08
dataset size :  (45107, 34)
Timestamp --> 2018-01-06 14:41:52.100293
50-303 - 2011-02-09
dataset size :  (46446, 34)
Timestamp --> 2018-01-06 14:41:56.304869
51-303 - 2011-02-10
dataset size :  (47791, 34)
Timestamp --> 2018-01-06 14:42:00.613146
52-303 - 2011-02-11
dataset size :  (49149, 34)
Timestamp --> 2018-01-06 14:42:04.851128
53-303 - 2011-02-13
dataset size :  (50522, 34)
Timestamp --> 2018-01-06 14:42:08.981690
54-303 - 2011-02-14
dataset size :  (51902, 34)
Timestamp --> 2018-01-06 14:42:13.274717
55-303 - 2011-02-15
dataset size :  (53292, 34)
Timestamp --> 2018-01-06 14:42:17.651687
56-303 - 2011-02-16
dataset size :  (54696, 34)
Timestamp --> 2018-01-06 14:42:22.087157
57-303 - 2011-02-17
dataset size :  (56116, 34)
Timestamp --> 2018-01-06 14:42:26.267383
58-303 - 2011-02-18
dataset size :  (57548, 34)
Timestamp --> 2018-01-06 14:42:30.656972
59-303 - 2011-02-20
dataset size :  (58993, 34)
Timestamp --> 2018-01-06 14:42:35.182178
60-303 - 2011-02-21
dataset size :  (60448, 34)
Timestamp --> 2018-01-06 14:42:39.641366
61-303 - 2011-02-22
dataset size :  (61916, 34)
Timestamp --> 2018-01-06 14:42:44.435278
62-303 - 2011-02-23
dataset size :  (63401, 34)
Timestamp --> 2018-01-06 14:42:49.572212
63-303 - 2011-02-24
dataset size :  (64904, 34)
Timestamp --> 2018-01-06 14:42:54.629869
64-303 - 2011-02-25
dataset size :  (66427, 34)
Timestamp --> 2018-01-06 14:42:59.531870
65-303 - 2011-02-27
dataset size :  (67966, 34)
Timestamp --> 2018-01-06 14:43:04.685087
66-303 - 2011-02-28
dataset size :  (69517, 34)
Timestamp --> 2018-01-06 14:43:09.732791
67-303 - 2011-03-01
dataset size :  (71087, 34)
Timestamp --> 2018-01-06 14:43:14.884818
68-303 - 2011-03-02
dataset size :  (72674, 34)
Timestamp --> 2018-01-06 14:43:20.017545
69-303 - 2011-03-03
dataset size :  (74281, 34)
Timestamp --> 2018-01-06 14:43:25.137703
70-303 - 2011-03-04
dataset size :  (75905, 34)
Timestamp --> 2018-01-06 14:43:30.536869
71-303 - 2011-03-06
dataset size :  (77543, 34)
Timestamp --> 2018-01-06 14:43:35.868773
72-303 - 2011-03-07
dataset size :  (79189, 34)
Timestamp --> 2018-01-06 14:43:41.121849
73-303 - 2011-03-08
dataset size :  (80853, 34)
Timestamp --> 2018-01-06 14:43:46.494030
74-303 - 2011-03-09
dataset size :  (82537, 34)
Timestamp --> 2018-01-06 14:43:51.935529
75-303 - 2011-03-10
dataset size :  (84235, 34)
Timestamp --> 2018-01-06 14:43:57.443471
76-303 - 2011-03-11
dataset size :  (85951, 34)
Timestamp --> 2018-01-06 14:44:02.951226
77-303 - 2011-03-13
dataset size :  (87680, 34)
Timestamp --> 2018-01-06 14:44:08.462729
78-303 - 2011-03-14
dataset size :  (89414, 34)
Timestamp --> 2018-01-06 14:44:14.019011
79-303 - 2011-03-15
dataset size :  (91158, 34)
Timestamp --> 2018-01-06 14:44:19.660410
80-303 - 2011-03-16
dataset size :  (92915, 34)
Timestamp --> 2018-01-06 14:44:25.282000
81-303 - 2011-03-17
dataset size :  (94685, 34)
Timestamp --> 2018-01-06 14:44:31.018964
82-303 - 2011-03-18
dataset size :  (96476, 34)
Timestamp --> 2018-01-06 14:44:36.807309
83-303 - 2011-03-20
dataset size :  (98291, 34)
Timestamp --> 2018-01-06 14:44:42.642821
84-303 - 2011-03-21
dataset size :  (100126, 34)
Timestamp --> 2018-01-06 14:44:48.438674
85-303 - 2011-03-22
dataset size :  (101974, 34)
Timestamp --> 2018-01-06 14:44:54.274592
86-303 - 2011-03-23
dataset size :  (103837, 34)
Timestamp --> 2018-01-06 14:45:00.228552
87-303 - 2011-03-24
dataset size :  (105721, 34)
Timestamp --> 2018-01-06 14:45:06.203755
88-303 - 2011-03-25
dataset size :  (107621, 34)
Timestamp --> 2018-01-06 14:45:12.085505
89-303 - 2011-03-27
dataset size :  (109532, 34)
Timestamp --> 2018-01-06 14:45:18.156601
90-303 - 2011-03-28
dataset size :  (111449, 34)
Timestamp --> 2018-01-06 14:45:24.261555
91-303 - 2011-03-29
dataset size :  (113379, 34)
Timestamp --> 2018-01-06 14:45:30.306443
92-303 - 2011-03-30
dataset size :  (115321, 34)
Timestamp --> 2018-01-06 14:45:36.556844
93-303 - 2011-03-31
dataset size :  (117281, 34)
Timestamp --> 2018-01-06 14:45:42.870466

94-303 - 2011-04-01
dataset size :  (119258, 34)
Timestamp --> 2018-01-06 14:45:49.170324
95-303 - 2011-04-03
dataset size :  (121250, 34)
Timestamp --> 2018-01-06 14:45:55.581456
96-303 - 2011-04-04
dataset size :  (123245, 34)
Timestamp --> 2018-01-06 14:46:01.999225
97-303 - 2011-04-05
dataset size :  (125255, 34)
Timestamp --> 2018-01-06 14:46:08.382417
98-303 - 2011-04-06
dataset size :  (127278, 34)
Timestamp --> 2018-01-06 14:46:14.792582
99-303 - 2011-04-07
dataset size :  (129315, 34)
Timestamp --> 2018-01-06 14:46:21.423153
100-303 - 2011-04-08
dataset size :  (131370, 34)
Timestamp --> 2018-01-06 14:46:27.817676
101-303 - 2011-04-10
dataset size :  (133444, 34)
Timestamp --> 2018-01-06 14:46:34.282952
102-303 - 2011-04-11
dataset size :  (135527, 34)
Timestamp --> 2018-01-06 14:46:40.647641
103-303 - 2011-04-12
dataset size :  (137625, 34)
Timestamp --> 2018-01-06 14:46:47.275516
104-303 - 2011-04-13
dataset size :  (139738, 34)
Timestamp --> 2018-01-06 14:46:54.028247
105-303 - 2011-04-14
dataset size :  (141868, 34)
Timestamp --> 2018-01-06 14:47:00.711507
106-303 - 2011-04-15
dataset size :  (144017, 34)
Timestamp --> 2018-01-06 14:47:07.454921
107-303 - 2011-04-17
dataset size :  (146174, 34)
Timestamp --> 2018-01-06 14:47:14.373172
108-303 - 2011-04-18
dataset size :  (148342, 34)
Timestamp --> 2018-01-06 14:47:21.866520
109-303 - 2011-04-19
dataset size :  (150522, 34)
Timestamp --> 2018-01-06 14:47:29.193482
110-303 - 2011-04-20
dataset size :  (152716, 34)
Timestamp --> 2018-01-06 14:47:36.351717
111-303 - 2011-04-21
dataset size :  (154923, 34)
Timestamp --> 2018-01-06 14:47:43.889679
112-303 - 2011-04-26
dataset size :  (157145, 34)
Timestamp --> 2018-01-06 14:47:51.245738
113-303 - 2011-04-27
dataset size :  (159374, 34)
Timestamp --> 2018-01-06 14:47:58.557620
114-303 - 2011-04-28
dataset size :  (161612, 34)
Timestamp --> 2018-01-06 14:48:05.856737
115-303 - 2011-05-01
dataset size :  (163864, 34)
Timestamp --> 2018-01-06 14:48:12.990263
116-303 - 2011-05-03
dataset size :  (166119, 34)
Timestamp --> 2018-01-06 14:48:20.201598
117-303 - 2011-05-04
dataset size :  (168383, 34)
Timestamp --> 2018-01-06 14:48:27.287036
118-303 - 2011-05-05
dataset size :  (170658, 34)
Timestamp --> 2018-01-06 14:48:34.665815
119-303 - 2011-05-06
dataset size :  (172951, 34)
Timestamp --> 2018-01-06 14:48:42.068154
120-303 - 2011-05-08
dataset size :  (175260, 34)
Timestamp --> 2018-01-06 14:48:49.579412
121-303 - 2011-05-09
dataset size :  (177583, 34)
Timestamp --> 2018-01-06 14:48:57.051438
122-303 - 2011-05-10
dataset size :  (179913, 34)
Timestamp --> 2018-01-06 14:49:04.573828
123-303 - 2011-05-11
dataset size :  (182256, 34)
Timestamp --> 2018-01-06 14:49:12.224159
124-303 - 2011-05-12
dataset size :  (184613, 34)
Timestamp --> 2018-01-06 14:49:19.655158
125-303 - 2011-05-13
dataset size :  (186989, 34)
Timestamp --> 2018-01-06 14:49:27.193010
126-303 - 2011-05-15
dataset size :  (189369, 34)
Timestamp --> 2018-01-06 14:49:34.873628
127-303 - 2011-05-16
dataset size :  (191756, 34)
Timestamp --> 2018-01-06 14:49:42.523068
128-303 - 2011-05-17
dataset size :  (194151, 34)
Timestamp --> 2018-01-06 14:49:50.302187
129-303 - 2011-05-18
dataset size :  (196551, 34)
Timestamp --> 2018-01-06 14:49:58.228919
130-303 - 2011-05-19
dataset size :  (198964, 34)
Timestamp --> 2018-01-06 14:50:06.072633
131-303 - 2011-05-20
dataset size :  (201393, 34)
Timestamp --> 2018-01-06 14:50:13.567583
132-303 - 2011-05-22
dataset size :  (203831, 34)
Timestamp --> 2018-01-06 14:50:21.082915
133-303 - 2011-05-23
dataset size :  (206285, 34)
Timestamp --> 2018-01-06 14:50:28.683400
134-303 - 2011-05-24
dataset size :  (208747, 34)
Timestamp --> 2018-01-06 14:50:36.440118
135-303 - 2011-05-25
dataset size :  (211215, 34)
Timestamp --> 2018-01-06 14:50:44.344384
136-303 - 2011-05-26
dataset size :  (213692, 34)
Timestamp --> 2018-01-06 14:50:52.024363
137-303 - 2011-05-27
dataset size :  (216176, 34)
Timestamp --> 2018-01-06 14:50:59.734027
138-303 - 2011-05-29
dataset size :  (218668, 34)
Timestamp --> 2018-01-06 14:51:07.713440
139-303 - 2011-05-31
dataset size :  (221165, 34)
Timestamp --> 2018-01-06 14:51:15.625381
140-303 - 2011-06-01
dataset size :  (223669, 34)
Timestamp --> 2018-01-06 14:51:23.361808
141-303 - 2011-06-02
dataset size :  (226178, 34)
Timestamp --> 2018-01-06 14:51:31.056646
142-303 - 2011-06-03
dataset size :  (228695, 34)
Timestamp --> 2018-01-06 14:51:38.699027
143-303 - 2011-06-05
dataset size :  (231221, 34)
Timestamp --> 2018-01-06 14:51:46.668985
144-303 - 2011-06-06
dataset size :  (233756, 34)
Timestamp --> 2018-01-06 14:51:54.345965
145-303 - 2011-06-07
dataset size :  (236297, 34)
Timestamp --> 2018-01-06 14:52:02.280203
146-303 - 2011-06-08
dataset size :  (238849, 34)
Timestamp --> 2018-01-06 14:52:10.248281
147-303 - 2011-06-09
dataset size :  (241411, 34)
Timestamp --> 2018-01-06 14:52:18.255842
148-303 - 2011-06-10
dataset size :  (243983, 34)
Timestamp --> 2018-01-06 14:52:26.322441
149-303 - 2011-06-12
dataset size :  (246565, 34)
Timestamp --> 2018-01-06 14:52:34.314975
150-303 - 2011-06-13
dataset size :  (249156, 34)
Timestamp --> 2018-01-06 14:52:42.322592
151-303 - 2011-06-14
dataset size :  (251760, 34)
Timestamp --> 2018-01-06 14:52:50.421625
152-303 - 2011-06-15
dataset size :  (254369, 34)
Timestamp --> 2018-01-06 14:52:58.647407
153-303 - 2011-06-16
dataset size :  (256986, 34)
Timestamp --> 2018-01-06 14:53:06.757926
154-303 - 2011-06-17
dataset size :  (259618, 34)
Timestamp --> 2018-01-06 14:53:14.952821
155-303 - 2011-06-19
dataset size :  (262251, 34)
Timestamp --> 2018-01-06 14:53:23.148320
156-303 - 2011-06-20
dataset size :  (264896, 34)
Timestamp --> 2018-01-06 14:53:31.306751
157-303 - 2011-06-21
dataset size :  (267551, 34)
Timestamp --> 2018-01-06 14:53:39.384664
158-303 - 2011-06-22
dataset size :  (270217, 34)
Timestamp --> 2018-01-06 14:53:47.459621
159-303 - 2011-06-23
dataset size :  (272890, 34)
Timestamp --> 2018-01-06 14:53:55.757562
160-303 - 2011-06-24
dataset size :  (275572, 34)
Timestamp --> 2018-01-06 14:54:04.281141
161-303 - 2011-06-26
dataset size :  (278257, 34)
Timestamp --> 2018-01-06 14:54:12.605068
162-303 - 2011-06-27
dataset size :  (280945, 34)
Timestamp --> 2018-01-06 14:54:20.835931
163-303 - 2011-06-28
dataset size :  (283636, 34)
Timestamp --> 2018-01-06 14:54:29.353510
164-303 - 2011-06-29
dataset size :  (286336, 34)
Timestamp --> 2018-01-06 14:54:37.756960
165-303 - 2011-06-30
dataset size :  (289042, 34)
Timestamp --> 2018-01-06 14:54:46.378639
166-303 - 2011-07-01
dataset size :  (291753, 34)
Timestamp --> 2018-01-06 14:54:54.968520
167-303 - 2011-07-03
dataset size :  (294469, 34)
Timestamp --> 2018-01-06 14:55:03.623977
168-303 - 2011-07-04
dataset size :  (297192, 34)
Timestamp --> 2018-01-06 14:55:12.012909
169-303 - 2011-07-05
dataset size :  (299918, 34)
Timestamp --> 2018-01-06 14:55:20.449389
170-303 - 2011-07-06
dataset size :  (302652, 34)
Timestamp --> 2018-01-06 14:55:28.895684
171-303 - 2011-07-07
dataset size :  (305390, 34)
Timestamp --> 2018-01-06 14:55:37.356584
172-303 - 2011-07-08
dataset size :  (308141, 34)
Timestamp --> 2018-01-06 14:55:46.067766
173-303 - 2011-07-10
dataset size :  (310898, 34)
Timestamp --> 2018-01-06 14:55:54.962478
174-303 - 2011-07-11
dataset size :  (313657, 34)
Timestamp --> 2018-01-06 14:56:03.755061
175-303 - 2011-07-12
dataset size :  (316422, 34)
Timestamp --> 2018-01-06 14:56:12.706374
176-303 - 2011-07-13
dataset size :  (319193, 34)
Timestamp --> 2018-01-06 14:56:21.770187
177-303 - 2011-07-14
dataset size :  (321970, 34)
Timestamp --> 2018-01-06 14:56:30.627357
178-303 - 2011-07-15
dataset size :  (324758, 34)
Timestamp --> 2018-01-06 14:56:39.496866
179-303 - 2011-07-17
dataset size :  (327551, 34)
Timestamp --> 2018-01-06 14:56:48.311854
180-303 - 2011-07-18
dataset size :  (330350, 34)
Timestamp --> 2018-01-06 14:56:57.072419
181-303 - 2011-07-19
dataset size :  (333152, 34)
Timestamp --> 2018-01-06 14:57:05.905190
182-303 - 2011-07-20
dataset size :  (335961, 34)
Timestamp --> 2018-01-06 14:57:14.777913
183-303 - 2011-07-21
dataset size :  (338777, 34)
Timestamp --> 2018-01-06 14:57:24.007798
184-303 - 2011-07-22
dataset size :  (341601, 34)
Timestamp --> 2018-01-06 14:57:33.199227

185-303 - 2011-07-24
dataset size :  (344430, 34)
Timestamp --> 2018-01-06 14:57:42.400849
186-303 - 2011-07-25
dataset size :  (347268, 34)
Timestamp --> 2018-01-06 14:57:51.601242
187-303 - 2011-07-26
dataset size :  (350113, 34)
Timestamp --> 2018-01-06 14:58:00.447586
188-303 - 2011-07-27
dataset size :  (352961, 34)
Timestamp --> 2018-01-06 14:58:09.329022
189-303 - 2011-07-28
dataset size :  (355814, 34)
Timestamp --> 2018-01-06 14:58:18.078268
190-303 - 2011-07-29
dataset size :  (358675, 34)
Timestamp --> 2018-01-06 14:58:26.928928
191-303 - 2011-07-31
dataset size :  (361549, 34)
Timestamp --> 2018-01-06 14:58:35.847751
192-303 - 2011-08-01
dataset size :  (364427, 34)
Timestamp --> 2018-01-06 14:58:44.923833
193-303 - 2011-08-02
dataset size :  (367312, 34)
Timestamp --> 2018-01-06 14:58:53.998109
194-303 - 2011-08-03
dataset size :  (370206, 34)
Timestamp --> 2018-01-06 14:59:03.400612
195-303 - 2011-08-04
dataset size :  (373108, 34)
Timestamp --> 2018-01-06 14:59:12.195111
196-303 - 2011-08-05
dataset size :  (376017, 34)
Timestamp --> 2018-01-06 14:59:21.549379
197-303 - 2011-08-07
dataset size :  (378931, 34)
Timestamp --> 2018-01-06 14:59:31.001355
198-303 - 2011-08-08
dataset size :  (381850, 34)
Timestamp --> 2018-01-06 14:59:40.014435
199-303 - 2011-08-09
dataset size :  (384772, 34)
Timestamp --> 2018-01-06 14:59:49.106874
200-303 - 2011-08-10
dataset size :  (387698, 34)
Timestamp --> 2018-01-06 14:59:58.359203
201-303 - 2011-08-11
dataset size :  (390628, 34)
Timestamp --> 2018-01-06 15:00:07.683310
202-303 - 2011-08-12
dataset size :  (393564, 34)
Timestamp --> 2018-01-06 15:00:16.698736
203-303 - 2011-08-14
dataset size :  (396502, 34)
Timestamp --> 2018-01-06 15:00:26.171864
204-303 - 2011-08-15
dataset size :  (399443, 34)
Timestamp --> 2018-01-06 15:00:35.575231
205-303 - 2011-08-16
dataset size :  (402392, 34)
Timestamp --> 2018-01-06 15:00:44.762887
206-303 - 2011-08-17
dataset size :  (405346, 34)
Timestamp --> 2018-01-06 15:00:54.075882
207-303 - 2011-08-18
dataset size :  (408305, 34)
Timestamp --> 2018-01-06 15:01:03.515081
208-303 - 2011-08-19
dataset size :  (411269, 34)
Timestamp --> 2018-01-06 15:01:12.787885
209-303 - 2011-08-21
dataset size :  (414241, 34)
Timestamp --> 2018-01-06 15:01:22.288262
210-303 - 2011-08-22
dataset size :  (417217, 34)
Timestamp --> 2018-01-06 15:01:31.708982
211-303 - 2011-08-23
dataset size :  (420199, 34)
Timestamp --> 2018-01-06 15:01:40.876186
212-303 - 2011-08-24
dataset size :  (423184, 34)
Timestamp --> 2018-01-06 15:01:50.013377
213-303 - 2011-08-25
dataset size :  (426173, 34)
Timestamp --> 2018-01-06 15:01:59.216676
214-303 - 2011-08-26
dataset size :  (429173, 34)
Timestamp --> 2018-01-06 15:02:08.458792
215-303 - 2011-08-28
dataset size :  (432180, 34)
Timestamp --> 2018-01-06 15:02:17.693516
216-303 - 2011-08-30
dataset size :  (435190, 34)
Timestamp --> 2018-01-06 15:02:26.878442
217-303 - 2011-08-31
dataset size :  (438203, 34)
Timestamp --> 2018-01-06 15:02:36.138640
218-303 - 2011-09-01
dataset size :  (441221, 34)
Timestamp --> 2018-01-06 15:02:45.429839
219-303 - 2011-09-02
dataset size :  (444244, 34)
Timestamp --> 2018-01-06 15:02:54.804811
220-303 - 2011-09-04
dataset size :  (447273, 34)
Timestamp --> 2018-01-06 15:03:04.197550
221-303 - 2011-09-05
dataset size :  (450310, 34)
Timestamp --> 2018-01-06 15:03:13.617651
222-303 - 2011-09-06
dataset size :  (453351, 34)
Timestamp --> 2018-01-06 15:03:22.998033
223-303 - 2011-09-07
dataset size :  (456397, 34)
Timestamp --> 2018-01-06 15:03:32.271645
224-303 - 2011-09-08
dataset size :  (459448, 34)
Timestamp --> 2018-01-06 15:03:41.690466
225-303 - 2011-09-09
dataset size :  (462504, 34)
Timestamp --> 2018-01-06 15:03:51.164103
226-303 - 2011-09-11
dataset size :  (465568, 34)
Timestamp --> 2018-01-06 15:04:00.597536
227-303 - 2011-09-12
dataset size :  (468647, 34)
Timestamp --> 2018-01-06 15:04:10.062034
228-303 - 2011-09-13
dataset size :  (471737, 34)
Timestamp --> 2018-01-06 15:04:19.523523
229-303 - 2011-09-14
dataset size :  (474839, 34)
Timestamp --> 2018-01-06 15:04:29.182988
230-303 - 2011-09-15
dataset size :  (477955, 34)
Timestamp --> 2018-01-06 15:04:39.386118
231-303 - 2011-09-16
dataset size :  (481086, 34)
Timestamp --> 2018-01-06 15:04:50.560997
232-303 - 2011-09-18
dataset size :  (484226, 34)
Timestamp --> 2018-01-06 15:05:01.206016
233-303 - 2011-09-19
dataset size :  (487373, 34)
Timestamp --> 2018-01-06 15:05:12.107944
234-303 - 2011-09-20
dataset size :  (490532, 34)
Timestamp --> 2018-01-06 15:05:22.564957
235-303 - 2011-09-21
dataset size :  (493697, 34)
Timestamp --> 2018-01-06 15:05:32.924021
236-303 - 2011-09-22
dataset size :  (496871, 34)
Timestamp --> 2018-01-06 15:05:43.231532
237-303 - 2011-09-23
dataset size :  (500067, 34)
Timestamp --> 2018-01-06 15:05:53.856886
238-303 - 2011-09-25
dataset size :  (503279, 34)
Timestamp --> 2018-01-06 15:06:04.067789
239-303 - 2011-09-26
dataset size :  (506510, 34)
Timestamp --> 2018-01-06 15:06:14.176381
240-303 - 2011-09-27
dataset size :  (509754, 34)
Timestamp --> 2018-01-06 15:06:24.247222
241-303 - 2011-09-28
dataset size :  (513006, 34)
Timestamp --> 2018-01-06 15:06:34.387196
242-303 - 2011-09-29
dataset size :  (516269, 34)
Timestamp --> 2018-01-06 15:06:44.588510
243-303 - 2011-09-30
dataset size :  (519551, 34)
Timestamp --> 2018-01-06 15:06:54.815706
244-303 - 2011-10-02
dataset size :  (522845, 34)
Timestamp --> 2018-01-06 15:07:05.059948
245-303 - 2011-10-03
dataset size :  (526144, 34)
Timestamp --> 2018-01-06 15:07:15.288756
246-303 - 2011-10-04
dataset size :  (529456, 34)
Timestamp --> 2018-01-06 15:07:25.484883
247-303 - 2011-10-05
dataset size :  (532777, 34)
Timestamp --> 2018-01-06 15:07:35.817117
248-303 - 2011-10-06
dataset size :  (536112, 34)
Timestamp --> 2018-01-06 15:07:46.189115
249-303 - 2011-10-07
dataset size :  (539470, 34)
Timestamp --> 2018-01-06 15:07:56.544312
250-303 - 2011-10-09
dataset size :  (542844, 34)
Timestamp --> 2018-01-06 15:08:06.996405
251-303 - 2011-10-10
dataset size :  (546233, 34)
Timestamp --> 2018-01-06 15:08:17.848718
252-303 - 2011-10-11
dataset size :  (549641, 34)
Timestamp --> 2018-01-06 15:08:28.661238
253-303 - 2011-10-12
dataset size :  (553059, 34)
Timestamp --> 2018-01-06 15:08:39.618667
254-303 - 2011-10-13
dataset size :  (556482, 34)
Timestamp --> 2018-01-06 15:08:50.459244
255-303 - 2011-10-14
dataset size :  (559917, 34)
Timestamp --> 2018-01-06 15:09:01.438838
256-303 - 2011-10-16
dataset size :  (563359, 34)
Timestamp --> 2018-01-06 15:09:12.367670
257-303 - 2011-10-17
dataset size :  (566809, 34)
Timestamp --> 2018-01-06 15:09:23.505953
258-303 - 2011-10-18
dataset size :  (570279, 34)
Timestamp --> 2018-01-06 15:09:34.754795
259-303 - 2011-10-19
dataset size :  (573760, 34)
Timestamp --> 2018-01-06 15:09:45.992139
260-303 - 2011-10-20
dataset size :  (577256, 34)
Timestamp --> 2018-01-06 15:09:57.393597
261-303 - 2011-10-21
dataset size :  (580767, 34)
Timestamp --> 2018-01-06 15:10:08.983818
262-303 - 2011-10-23
dataset size :  (584289, 34)
Timestamp --> 2018-01-06 15:10:20.551138
263-303 - 2011-10-24
dataset size :  (587821, 34)
Timestamp --> 2018-01-06 15:10:32.081146
264-303 - 2011-10-25
dataset size :  (591367, 34)
Timestamp --> 2018-01-06 15:10:43.579353
265-303 - 2011-10-26
dataset size :  (594922, 34)
Timestamp --> 2018-01-06 15:10:55.189987
266-303 - 2011-10-27
dataset size :  (598489, 34)
Timestamp --> 2018-01-06 15:11:06.810697
267-303 - 2011-10-28
dataset size :  (602073, 34)
Timestamp --> 2018-01-06 15:11:18.440167
268-303 - 2011-10-30
dataset size :  (605664, 34)
Timestamp --> 2018-01-06 15:11:30.002153
269-303 - 2011-10-31
dataset size :  (609271, 34)
Timestamp --> 2018-01-06 15:11:41.615584
270-303 - 2011-11-01
dataset size :  (612884, 34)
Timestamp --> 2018-01-06 15:11:53.475561
271-303 - 2011-11-02
dataset size :  (616507, 34)
Timestamp --> 2018-01-06 15:12:05.185649
272-303 - 2011-11-03
dataset size :  (620147, 34)
Timestamp --> 2018-01-06 15:12:17.141240
273-303 - 2011-11-04
dataset size :  (623800, 34)
Timestamp --> 2018-01-06 15:12:29.040302
274-303 - 2011-11-06
dataset size :  (627463, 34)
Timestamp --> 2018-01-06 15:12:40.790808
275-303 - 2011-11-07

dataset size :  (631144, 34)
Timestamp --> 2018-01-06 15:12:53.105122
276-303 - 2011-11-08
dataset size :  (634834, 34)
Timestamp --> 2018-01-06 15:13:06.015439
277-303 - 2011-11-09
dataset size :  (638536, 34)
Timestamp --> 2018-01-06 15:13:18.954190
278-303 - 2011-11-10
dataset size :  (642255, 34)
Timestamp --> 2018-01-06 15:13:31.494990
279-303 - 2011-11-11
dataset size :  (645985, 34)
Timestamp --> 2018-01-06 15:13:43.908119
280-303 - 2011-11-13
dataset size :  (649726, 34)
Timestamp --> 2018-01-06 15:13:56.053337
281-303 - 2011-11-14
dataset size :  (653475, 34)
Timestamp --> 2018-01-06 15:14:08.496069
282-303 - 2011-11-15
dataset size :  (657240, 34)
Timestamp --> 2018-01-06 15:14:21.066762
283-303 - 2011-11-16
dataset size :  (661020, 34)
Timestamp --> 2018-01-06 15:14:33.758845
284-303 - 2011-11-17
dataset size :  (664811, 34)
Timestamp --> 2018-01-06 15:14:46.140000
285-303 - 2011-11-18
dataset size :  (668611, 34)
Timestamp --> 2018-01-06 15:14:58.843252
286-303 - 2011-11-20
dataset size :  (672420, 34)
Timestamp --> 2018-01-06 15:15:11.496679
287-303 - 2011-11-21
dataset size :  (676242, 34)
Timestamp --> 2018-01-06 15:15:24.134080
288-303 - 2011-11-22
dataset size :  (680078, 34)
Timestamp --> 2018-01-06 15:15:36.988293
289-303 - 2011-11-23
dataset size :  (683928, 34)
Timestamp --> 2018-01-06 15:15:49.568930
290-303 - 2011-11-24
dataset size :  (687782, 34)
Timestamp --> 2018-01-06 15:16:02.566511
291-303 - 2011-11-25
dataset size :  (691648, 34)
Timestamp --> 2018-01-06 15:16:15.395376
292-303 - 2011-11-27
dataset size :  (695523, 34)
Timestamp --> 2018-01-06 15:16:28.084594
293-303 - 2011-11-28
dataset size :  (699403, 34)
Timestamp --> 2018-01-06 15:16:40.900541
294-303 - 2011-11-29
dataset size :  (703294, 34)
Timestamp --> 2018-01-06 15:16:53.989548
295-303 - 2011-11-30
dataset size :  (707197, 34)
Timestamp --> 2018-01-06 15:17:06.752995
296-303 - 2011-12-01
dataset size :  (711105, 34)
Timestamp --> 2018-01-06 15:17:19.886429
297-303 - 2011-12-02
dataset size :  (715016, 34)
Timestamp --> 2018-01-06 15:17:32.546188
298-303 - 2011-12-04
dataset size :  (718932, 34)
Timestamp --> 2018-01-06 15:17:45.296103
299-303 - 2011-12-05
dataset size :  (722853, 34)
Timestamp --> 2018-01-06 15:17:58.066516
300-303 - 2011-12-06
dataset size :  (726780, 34)
Timestamp --> 2018-01-06 15:18:10.926124
301-303 - 2011-12-07
dataset size :  (730713, 34)
Timestamp --> 2018-01-06 15:18:23.753841
302-303 - 2011-12-08
dataset size :  (734651, 34)
Timestamp --> 2018-01-06 15:18:36.721743
303-303 - 2011-12-09
dataset size :  (738593, 34)
Timestamp --> 2018-01-06 15:18:49.875271

,CustomerID,LastInvoice,Recency,SpentMin,SpentMax,SpentMean,SpentSum,SpentStd,OrderSepMean,OrderSepMax,...,AmountCancelledMin,AmountCancelledMax,AmountCancelledStd,F,R,M,D,C,RFMDC,Timestamp
0,12748.0,2010-12-02 11:46:00,0,4.25,4.95,4.60,9.20,0.494975,0.0,0,...,0.0,0.0,0.0,1,2,4,3,2,21432,2010-12-03
1,12838.0,2010-12-01 11:57:00,1,390.79,390.79,390.79,390.79,0.000000,0.0,0,...,0.0,0.0,0.0,3,4,1,1,2,43112,2010-12-03
2,12855.0,2010-12-02 09:37:00,0,38.10,38.10,38.10,38.10,0.000000,0.0,0,...,0.0,0.0,0.0,3,2,4,2,2,23422,2010-12-03
3,12868.0,2010-12-01 12:50:00,1,203.30,203.30,203.30,203.30,0.000000,0.0,0,...,0.0,0.0,0.0,3,4,3,3,2,43332,2010-12-03
4,12915.0,2010-12-02 12:33:00,0,199.65,199.65,199.65,199.65,0.000000,0.0,0,...,0.0,0.0,0.0,3,2,3,2,2,23322,2010-12-03

In [ ]:
customerdb.shape